<%- include('../partials/header.ejs')%>

    <div class="middle">
        <h2>
            <u>
                <%=connection.connectionName%>
            </u>
        </h2>
        <div>
            <img class="menu-item" src="<%=connection.image%>"
                alt="Image not available">
        </div>
        <div>
            <p>Hosted By - <%=connection.hostName%>
            </p>
            <p>
                <%=connection.date%>
            </p>
            <p>
                <%=connection.startTime%> - <%=connection.endTime%>
            </p>
            <p>
                <%=connection.location%>
            </p>
            <p>
                Details - <%=connection.details%>
            </p>
        </div>
        <div class="float-middle">
            <form class="form-middle">
                <button type="submit" formmethod="GET" formaction="/connections/<%= connection.connectionId%>/edit"
                    class="button-margin">Update</button>

                <button type="submit" formmethod="POST"
                    formaction="/connections/delete/<%= connection.connectionId%>?_method=DELETE"
                    class="button-margin">Delete</button>
            </form>
        </div>
    </div>


    <%- include('../partials/footer.ejs')%>